---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v1/sets?name=Sun%20%26%20Moon&page=1&pageSize=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - ''
      Page-Size:
      - '1'
      Count:
      - '1'
      Total-Count:
      - '1'
      Etag:
      - W/"dd2c2547d834185d85c0d041a392c190"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
    body:
      encoding: ASCII-8BIT
      string: '{"sets":[{"code":"sm1","ptcgoCode":"SUM","name":"Sun & Moon","series":"Sun
        & Moon","totalCards":149,"standardLegal":true,"expandedLegal":true,"releaseDate":"02/03/2017","symbolUrl":"https://images.pokemontcg.io/sm1/symbol.png","logoUrl":"https://images.pokemontcg.io/sm1/logo.png"}]}'
  recorded_at: Sat, 27 Jan 2018 13:35:48 GMT
recorded_with: VCR 4.0.0
